@charset "UTF-8";
.footer {
	background-color: #333333;
	width: 100%;
	color: white;
	font-size: 5rem;
	text-align: center;
	padding-bottom :5%;

}


.logo {
	width:5%;
	margin-top:5%;	
	display: inline-block;
	cursor: pointer;
}
