<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">




 <!-- 게시판 목록 -->
 <select id="list"  parameterType="hashMap" resultType="board">
     
      SELECT  
                      boardId 		as no
                    , UserEmail     as userEmail    
                    , boardTitle 	as title
                    , boardWriter	as writer
       	            , boardDate   	as date
       	            , boardContent  as content
       	            	
             	                                    FROM boardInfo
      
      LIMIT         #{display},#{post}               	                                     
 </select>
 
 <!-- 상세 보기 -->
 <select id="detail" resultType="board">
    	
      SELECT 
      		    	 b.boardId			as no
      		  	   , b.boardTitle		as title
      		  	   , b.userEmail	    as userEmail
      		  	   , b.boardWriter		as writer
      		       , b.boardContent 	as content
      		       , u.UserImage		as image
      		    	    
      		        					            FROM boardInfo b
      		        				             
        											JOIN userInfo u
      		      	
       ON	      	b.boardWriter = u.userName
      		      				  		
       WHERE 
      		     
      		     	b.boardId = #{no}  		
      		     				  		
 </select>
  

  
  <!-- 게시글 작성-->
   <insert id="write" parameterType= "board" >

		
	    INSERT                          	     	INTO boardInfo 
 		
 					(
 						  boardTitle
 					   ,  userEmail
 					   ,  boardContent
 					   ,  boardWriter
 					   ,  boardDate
 			        )
 			      	
	    VALUES      (    #{title}
	                   , #{userEmail}
	                   , #{content}
	                   , #{writer}
				       ,   now()
				
				    ); 
				    
	<!-- 	<selectKey  resultType="string"  keyProperty="writer" order="BEFORE">
		
			SELECT 
						 userName as writer		
														FROM UserInfo
			WHERE	
						 userId = #{Id}	 						 
														
		</selectKey>		    
 	 -->         
   </insert> 
   
   
   <update id="modify">
  
   	 UPDATE		        								BoardInfo
    
    
    
     SET	
     				  boardTitle      = #{title}
    				, boardContent    = #{content}
    				
 
                                      
     WHERE 
                   	     boardId = #{no}
                   	and  userEmail = #{email} 
  
   </update> 
   
   <delete id="clear">
   
   	 
   	 DELETE		        								FROM boardInfo
    				
    
    		    	                               
                                      
     WHERE 
                    	   boardId = #{no}
                      and  userEmail = #{email} 
  					
   </delete>
</mapper>


