<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

 <!-- 게시판 -->
 <select id="list" resultType="board">
     
      SELECT  
                      boardId 		as no
                    , boardTitle 	as title
                    , boardWriter	as writer
       	            , boardDate   	as date
       	            
             	                                    FROM boardInfo 
 </select>
 
 <!-- 상세 보기 -->
 <select id="detail" resultType="board">
    	
      SELECT 
      		    	 boardId		as no
      		  	   , boardTitle		as title
      		  	   , boardWriter	as writer
      		       , UserImage		as image
      		       , boardContent 	as content
      		    	   
      		        					            FROM boardInfo
      		        				             
        											JOIN userInfo 
      		      	
      		      	boardWriter = userName
      		      				  		
       WHERE 
      		     
      		     	boardId = #{no}  		
      		     				  		
 </select>
  
  
  <!-- 게시글 추가-->
   <insert id="write" parameterType="board">
 	INSERT                          		INTO boardInfo 
 	
 				(
 					  boardTitle
 					, userId
 					, boardContent
 					, boardWriter
 					, boardDate
 			     )
 			      	
	VALUES        (  #{title}
	            ,    (select userId from userInfo where userId = 1)
	            , 	 #{content}
	            ,    (select userName from userInfo where userId = 1)
				,    now()
				
				); 
 	          
 </insert> 
</mapper>


