<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">


<insert id="insert" parameterType="comment">

INSERT   		     		       INTO    commentInfo
		(
		
            boardId
 		   ,userEmail
 		   ,commentWriter
           ,commentProfile
           ,commentContent
		
		)
		
VALUES  (

             #{boardId}
 		   , #{userEmail}
 		   , #{commentWriter}
           , #{commentProfile}
           , #{commentContent}

		)
  ON DUPLICATE KEY UPDATE
  
            boardId         =  #{boardId}
 		   ,userEmail       =  #{userEmail}
 		   ,commentWriter   =  #{commentWriter}
           ,commentProfile  =  #{commentProfile}
           ,commentContent  =  #{commentContent}
         
</insert>


<select id="list" resultType="comment">
		SELECT 
		             commentId
		            ,boardId 
		       		,commentWriter
		       		,userEmail 
               		,commentProfile
               		,commentContent                FROM   commentInfo
        
        WHERE      boardId = #{boardId}       

</select>

<delete id="remove" parameterType="comment"> 

	DELETE                    FROM  commentInfo
	
	WHERE	   commentId = #{commentId}

</delete>

</mapper>