<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="DeleteMapper">


<delete id="comment" parameterType="comment">
  DELETE              						FROM   commentInfo
  WHERE       UserEmail = #{userEmail}  
</delete>

<delete id="notice"  parameterType="notice">
   DELETE              						FROM   noticeInfo
   WHERE       UserEmail = #{userEmail}
</delete>

<delete id="heart" parameterType="heart">
   DELETE              						FROM   LikeInfo
   WHERE       UserEmail = #{userEmail}
</delete>


<delete id="board" parameterType="board">
   DELETE              						FROM   boardInfo
   WHERE       UserEmail = #{userEmail}
</delete>

<update id="boardNumber">
   UPDATE                                          boardInfo
      SET       boardId = #{boardId}
</update>


<delete id="search"  parameterType="result">
   DELETE              						FROM   searchList
   WHERE       UserEmail = #{userEmail}
</delete>


</mapper>