<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SearchMapper">

 <!-- 개별 -->
  <select id="user" resultType="int">
  
  SELECT         MAX(searchNumber)  AS maxNum    
                                            FROM searchList
                                            
  WHERE          userEmail = #{userEmail}                   
  
  </select>

 <!-- 전체크기 -->
  <select id="max" resultType="int">
  
  SELECT         MAX(searchId)  AS maxId    
                                            FROM searchList                                                           
  </select>

 <!-- 입력 -->
  <insert id="result" parameterType="search">
  
   
  
 	INSERT  							INTO  searchList
            (
               searchId
             , searchNumber  
             , userEmail
             , bookTitle
             , searchAuthor
             , searchPublisher
             
             )
		
	 VALUES (
	           #{searchId}
	         , #{searchNumber}  
	 		 , #{userEmail}
             , #{bookTitle}
             , #{searchAuthor}
             , #{searchPublisher}
             
	         )
  
  </insert> 
  
  <!-- 리스트 -->
  <select id="list" resultType="search">
  
    SELECT       	
                     SearchId
                   , searchNumber  
	               , bookTitle
	               , searchAuthor
	               , searchPublisher                     FROM searchList
	               
	WHERE          userEmail = #{userEmail}                 
	ORDER BY	   searchNumber
  </select>
   
 
  <delete id="delete" parameterType="search">
    
     DELETE 												FROM      searchList
     
     
 	  WHERE 
        				   	userEmail    =  #{userEmail}
					   AND  searchNumber = #{searchNumber}         
  </delete>

<update id="downId">

      UPDATE                                  searchList 
         SET      searchId = searchId - 1
      
       WHERE      searchId = #{searchId}
</update>

<update id="downGroup">

      UPDATE                                  		  searchList 
      
         SET         searchNumber = searchNumber - 1
      
       WHERE         searchNumber = #{searchNumber}
               AND   userEmail    = #{userEmail}
</update>


</mapper>
