<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

 <insert id="Register">
 	INSERT                                      	                                        
 	                                         INTO  userInfo 
 				
 						    (
 							    UserImage
 				  			  , UserEmail
 			      			  , UserName
 				  	   		  , UserPassword
 				  			  , UserIntroduce
 							  , UserDate 
 						   
 						    )
 					 
 	VALUES
 	
 	                        ( 	      		 
 	                            #{image} 
 	                          , #{email}
 	                          , #{name} 
 	                          , #{password}
 	                          , #{introduce}
 	                          , now()
 	                        )
 	          
 </insert>
         
 <select id="login"  parameterType="login" resultType ="map">
   
    SELECT        
    
    			  UserEmail    	  as email
    			, UserPassword    as password
    			, UserName        as name
    
    
    		                                     FROM UserInfo
                                      
    WHERE 
                   		UserEmail = #{email}
                   		
                 
                   		
         
 </select>
 
  
 
 <update id="update">

 	 UPDATE		        								UserInfo
    
    
    
     SET	
    				  UserPassword    = #{password}
    				, UserName        = #{name}
    				, UserDate        = now()
    
    		    	                               
                                      
     WHERE 
                   	  UserId = #{id}
 

 </update>


</mapper>
