<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  
	<typeAliases>
		<!-- user -->
		<typeAlias alias="user" type="com.younghun.klom.model.user.vo.UserVo"/>
		
		<!-- book -->
		<typeAlias alias="book" type="com.younghun.klom.model.book.vo.BookVo"/>
	
	
	     <!-- like -->
	    <typeAlias alias="like" type="com.younghun.klom.model.like.vo.LikeVo"/>
	    
	    
	</typeAliases>
	 
</configuration> 
	