<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  
	<typeAliases>
		<!-- user -->
		<typeAlias alias="user" type="com.younghun.klom.model.user.vo.UserVo"/>
		
		<!-- authorization -->
		<typeAlias alias="authorization" type="com.younghun.klom.model.user.vo.AuthorizationVo"/>
		
		<!-- board -->
		<typeAlias alias="board" type="com.younghun.klom.model.board.vo.BoardVo"/>
	
		<!-- notice -->
		<typeAlias alias="notice" type="com.younghun.klom.model.notice.vo.NoticeVo"/>
	
	    
	    <!-- comment -->
	    <typeAlias alias="comment" type="com.younghun.klom.model.comment.vo.CommentVo"/>
		<!-- book -->
		<typeAlias alias="book" type="com.younghun.klom.model.book.vo.BookVo"/>
	
	    <!-- heart -->
	    <typeAlias alias="heart" type="com.younghun.klom.model.heart.vo.HeartVo"/>   
   
		<!-- page -->
		<typeAlias alias="page" type="com.younghun.klom.model.page.vo.PageVo"/>
        <!-- search -->
        <typeAlias alias="search" type="com.younghun.klom.model.page.vo.SearchVo"/>
      
        <!-- searchPage -->
        <typeAlias alias="searchPage" type="com.younghun.klom.model.search.dto.SearchDto"/>
      
        <!-- 검색결과 -->	    
        <typeAlias alias="result" type="com.younghun.klom.model.search.vo.SearchListVo"/>   
      
	</typeAliases>
	 
</configuration> 