<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<!-- user -->
		<typeAlias alias="user" type="com.younghun.klom.model.user.vo.UserVo"/>
		
		
		<!-- board -->
		<typeAlias alias="board" type="com.younghun.klom.model.board.vo.BoardVo"/>
		<typeAlias alias="result" type="com.younghun.klom.model.board.dto.DetailDto"/>
	</typeAliases>
	 
</configuration> 
	