@charset "EUC-KR";
.box {
	display: inline-block;
	text-align: center;
}

#btn {
	float: right;
}
#area {
	width: 100%;
	border: 3px solid #dddddd;
}


.user {
	width: 10%;
	text-align: center;
}  