@charset "EUC-KR";
.box {
	display: inline-block;
	text-align: center;
}

#comment_main{
	margin-top: 10%;
}
  
.comment_sub {
	margin: 5%;
	border: 1px solid #dddddd;
}


#user {
	background-color: #DDDDFF;    
	margin-right: 5%;
	width: 50px;
}	
  
  

#area {
	width: 100%;
	border: 3px solid #dddddd;
}

#btn {
	float: right;
}  